body{
	background-color:#000;
	color:#fff;
}

/*Tienen que tener este orden particular*/

a:link {
	color: white;
}

a:visited{
	color: white;
}

a:hover{
	transition: color 0.3s ease;
	color:red;
}

a:active{
	color: white;
}


section{
	background-color: #000;
	margin-bottom:0px; /* establece un margen inferior de 3rem */
}
