body{
	color:#fff;
}

/*Tienen que tener este orden particular*/

a:link {
	color: white;
}

a:visited{
	color: white;
}

a:hover{
	transition: color 0.3s ease;
	color:red;
}

a:active{
	color: white;
}


header{
	background-color: #000;
}

nav{
	background-color:#000;
}

section{
	background-color: #000;
	margin-bottom: 2rem; /* establece un margen inferior de 3rem */
}
