.display-great{
	display: inherit !important;
}

h1,h2{
	text-align: center;
}


header, footer, #wrapper{
	width: 100%;
	max-width: 1500px;
}


#main-section{
	margin-top: 0px;
	margin-left: 21%;
	margin-bottom: 0px;
	width: 60%;
	height: 10%;
	max-width: 1200px;
	
}

@media screen and (min-width: 1081px) and (max-height: 667px) {
  .imagen-final1, .imagen-final2,.imagen-final3,.imagen-final4{
    display: inline-flex; /* se muestran una al lado de otra*/
  }
}