* {
    margin:0;
	padding: 0;
	box-sizing: border-box;
  }

html,
body {
    overflow: hidden;
    background-color: #000;
    color: #fff;
       /* font-family: ocr-a-std, monospace; */
       font-family: monospace;
       font-weight: 500;
       font-style: normal;
       color: white;
       /* mobile friendly font size */
       font-size: 1.1rem;
    margin:40px;
}

/*es interesante como se logro acomodar esto
porque hay varias combinaciones para esto, y varios resultado no queridos
prueba dandole flex a los inline  y valores al float*/
.contenedor0{
    display:flex;
    width:50%;
    margin-top:5px;
    margin-bottom:55px;
}
.contenedor1{
    display: inline;  
    float:left;
    text-align: left;
    width: 40%;
}

.contenedor2{
    display:inline;
    float: right;
    width: 60%;
}
.contenedor3{
    margin-top: 10px;
}

.contenedor4{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contenedor5{
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 20px;
    height: 16px;
}


.ok{
color: lime;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.jitter {
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: jittery;
    z-index: -10;
}

.interface-wrapper {
    width: 100%;
    top: 64px;
    left: 64px;
}

.icon-control-container {
    height: 26.5px;
    width: 26.5px;
}

.entrar {
    font-size: 1.2rem;
    color: #fff;
    text-align:left;
}

#otherScene{
    display:flex;
    position: relative;
    bottom:3rem;
    
}


.cuadrito {
    position: relative;
    bottom:0.7rem;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    padding: 5px;
    justify-content: center;  
    width: 6rem;
    margin: 1.5rem auto;
}
a{
    text-decoration: none;
    color: #fff;
}
.cuadrito:hover{
background-color: #e51a4c;
color: #fff;
text-align: center;

}

.warning{
    text-align: left;
    justify-content: left;
    max-width: 53%;
    font-size: 1.2rem;
}

.loading {
    position: relative;
  }
  
  .dot-container {
    display: inline-block;
  }
  
  .dot {
    display: inline-block;
    width:7px;
    height:7px;
    
    background-color: #000;
    border-radius: 50%;
    opacity: 0;
    animation: blink 0.4s infinite;
    margin-right:0.1px;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 1s;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }



  

@media only screen and (max-width: 768px) {
    .interface-wrapper {
        width: 100%;
        top: 24px;
        left: 24px;
    }

    .icon-control-container {
        height: 19.5px;
        width: 19.5px;
    }
}



/* if on mobile */
@media only screen and (max-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        font-size: 10px;
    }
}

/* if on mobile make all loading screen elements have a padding of 16 */
@media only screen and (max-width: 768px) {
    .loading-screen-header {
        padding: 16px;
    }

    .info-wrapper {
        top: 16px;
        left: 16px;
    }

    .blinking-cursor {
        background-color: #fff;
        width: 0.4em;
        height: 0.08em;
        -webkit-animation: 0.65s blink step-end infinite;
        -moz-animation: 0.65s blink step-end infinite;
        -ms-animation: 0.65s blink step-end infinite;
        -o-animation: 0.65s blink step-end infinite;
        animation: 0.65s blink step-end infinite;
    }
    
    .loading-screen-body {
        padding-left: 16px;
        padding-right: 16px;
    }

    .loading-screen-footer {
        padding: 16px;
        padding-bottom: 32px;
    }
}

/*una resolucion peque침a no deberia influir en una grande, hay que estar ojo
con el solapamiento de resoluciones*/



/* Media query para una resoluci칩n de pantalla de xx844 */
@media (min-width: 200px) and (max-width: 639px) {
 
    .contenedor2{
        display:inline;
        position: relative;
        left: 100px;
        float: right;
        width: 70%;
    }

    .oculto-cel{
        display: none;
    }
    
.entrar {
    font-size: 0.9rem;
}
#otherScene{
        position: relative;
        bottom:4rem;
        
}

.warning{
 display:none
}


  }
  
  /* Media query para una resoluci칩n de pantalla de 768x2014 */
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .contenedor2{
        display:inline;
        position: relative;
        left: 320px;
        float: right;
        width: 60%;

    }

  }
  
  /* Media query para una resoluci칩n de pantalla de 1440x900 */
 

  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
      .contenedor2{
        display:inline;
        position:absolute;
        left:170px;
        width:60%;
     
    }

    #otherScene{
        
        text-align: center;
    }
    a{
        text-decoration: none;
    }
    .cuadrito:hover{
    background-color: #e51a4c;
    color: #fff;
    text-align: center;
    
    }

    .contenedor4{
        display:inline;
        position:flex;
        width:100%;
        font-size:2px;
    }
    html body{
        margin: 0;
        padding: 0;
    }

  }


  .blinking-cursor {
    background-color: #fff;
    width: 0.8em;
    height: 0.15em;
    -webkit-animation: 0.65s blink-182 step-end infinite;
    -moz-animation: 0.65s blink-182 step-end infinite;
    -ms-animation: 0.65s blink-182 step-end infinite;
    -o-animation: 0.65s blink-182 step-end infinite;
    animation: 0.65s blink-182 step-end infinite;
}

@keyframes blink-182 {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}

@-moz-keyframes blink-182 {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}

@-webkit-keyframes blink-182 {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}

@-ms-keyframes blink-182 {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}

@-o-keyframes blink-182 {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}


@media (min-width: 1600px) and (max-width: 1600px) and 
       (min-height: 992px) and (max-height: 992px) {

        .warning{
            width: 46%;
        }


       }