.display-mini{
	display:inherit !important;
}

body{
	font-family: 'Glagolitsa', sans-serif;
}

select.display-mini{
	font-size: 1.2em;
	width: 100%;
}

.subtitulo{
  font-family: 'Glagolitsa', sans-serif;
  text-align: center;
  font-weight: 300;
  color: #ff0000;
  margin-bottom: 40px;
  font-size: 40px;
}

.correo {
   display: inline-block;
   font-family: 'alagard.ttf', sans-serif;
   float: left;
}


#contenedor-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedor-imagenes img {
  margin: 0;
  max-width: 100%;
}


@media screen and (max-width: 126px) {
  .imagen-final4, .imagen-final3, .imagen-final2,.social-media,.social-media-icon {
    display: none; /*se muestran en fila verticual*/
  }
}

@media screen and (min-width: 127px) and (max-height: 667px) {
  .imagen-final4, .imagen-final3 {
    display: none;
  }
  .imagen-final1, .imagen-final2{
    display: inline-flex; /* se muestran una al lado de otra*/
  }
}


@media screen and (min-width:368px) and (max-height: 667px) {
  .imagen-final4,  {
    display: none;
  }
  .imagen-final1, .imagen-final2,.imagen-final3{
    display: inline-flex; /* se muestran una al lado de otra*/
  }
}

@media screen and (min-width:494px) and (max-height: 667px) {    
  .imagen-final1, .imagen-final2,.imagen-final3,.imagen-final4{
    display: inline-flex; /* se muestran una al lado de otra*/
  }
}


/*
@media (min-width: 201px) {
  estilos CSS aquí 
}
*/
/*
estilos para pantallas con una anchura menor o igual a 150px 
@media (max-width: 150px) {
 estilos CSS aquí 
}

 estilos para pantallas con una anchura mayor que 150px y menor o igual a 200px 
@media (min-width: 151px) and (max-width: 200px) {
   estilos CSS aquí 
}

 estilos para pantallas con una anchura mayor que 200px 
@media (min-width: 201px) {
  estilos CSS aquí 
}
*/
