*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	scroll-behavior: smooth;
}

body{
	color:#fff;
	font-family: 'Glagolitsa', sans-serif;
  overflow: hidden; /*oculta la barra*/
}

h1,h2,h3,h4,h5,h6 {   
	text-align: center;
	font-family:'VCR_OSD_MONO.ttf', sans-serif;
}

.container {
   display: flex;
   justify-content:center;
   align-items: center;
   height: 70vh;
}

article {
   max-width: 700px;
}
	
.articulo{
	transition: box-shadow 0.3seg ease;
	border:0px solid ;
	border-radius: 0.5rem;/* 10px*/
	height: 600px;
	background-color: #000;
	padding-left: 0; /*0 20px*/
	margin: auto; /* establece los márgenes superior e inferior a 0 y los laterales a automático */
    max-width: 650px; /* establece el ancho máximo del artículo */	
}
img:hover {
  filter: grayscale(50%) brightness(30%) hue-rotate(60deg);
}

#foto{
   display: block;
   margin: auto;
}

.gallery{
	background: #000;
}

.img-galeria{
	object-fit: cover; 
	width:30%;
	display: block;
	margin-bottom: 15px;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	cursor:pointer;
}

.contenedor {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


img {
  display: inline-grid;
 margin-left: 0px ;
  margin-right: 0px;
  margin-bottom: 0px;
  cursor: not-allowed;
  padding-left: 0px;
}


/*.contenedor-galeria{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}*/

.subtitulo{
	font-family: 'Glagolitsa', sans-serif;
	text-align: center;
	font-weight: 300;
	color: #e51a4c;
	margin-bottom: 40px;
	font-size: 40px;
}

a {
  text-decoration: none;
}

.correo {
   display: inline-block;
   font-family: 'alagard.ttf', sans-serif;
   float: left;
}

#carrusel {
   position: relative;
   margin-top:70px;
   width: 100px;
   height:170px;
   overflow: hidden;
   margin-bottom: 0px;
   perspective: 1000px; /* Se agrega una perspectiva para el efecto 3D */
}

.image-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*animation: rotate linear 5s infinite forwards;*/
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.image-holder:hover {
  animation-play-state: paused;
}

.image-holder img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.image-holder img:nth-child(1) {
  top: -15px;
  left: -15px;
}

.image-holder img:nth-child(3) {
  top: -15px;
  right: -15px;
}

.image-holder img:nth-child(5) {
  bottom: -15px;
  right: -15px;
}

.image-holder img:nth-child(7) {
  bottom: -15px;
  left: -15px;
}

.image-holder img:nth-child(2) {
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.image-holder img:nth-child(4) {
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}

.image-holder img:nth-child(6) {
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.image-holder img:nth-child(8) {
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#carrusel img {
   position: absolute;
   top: 0;
   bottom: 0; 	
   left: 0;
   width: 100%;
   height:100%;
   object-fit: cover;
   opacity: 0;
   transition: opacity 1s ease-in-out;
}

#carrusel img.active {
   opacity: 1;
}


#carrusel img.active {
  opacity: 1;
}

#contenedor {
  justify-content: center;
  text-align: center;
  align-items: center;
  width:auto;
}



#carrusel {
  position: relative;
  margin-top: 70px;
  width: 100%;
  height: 270px;
  overflow: hidden;
  margin-bottom: 0px;
  perspective: 1000px; /* Se agrega una perspectiva para el efecto 3D */
}

@keyframes rotate {
  0% {
      transform: rotateY(0deg); /* Inicia la rotación en 0 grados */
  }
  100% {
      transform: rotateY(360deg); /* Termina la rotación en 360 grados */
  }
}


#contenedor-imagenes img {
  margin: 0px;
  max-width: 100%;
}

.destacado {
   color: #e51a4c;
}

@font-face {
   font-family: 'Glagolitsa';
   src: url('Glagolitsa.ttf') format('truetype');
}

@font-face {
   font-family: 'VCR_OSD_MONO';
   src: url('VCR_OSD_MONO.ttf') format('truetype');
}


@font-face {
   font-family: 'alagard';
   src: url('alagard.ttf') format('truetype');
}

p{
  /*position: inline-block;*/
	text-align:left;
	font-family: 'alagard.ttf', sans-serif;
	margin:0px;
	padding:0px;


}

.pie {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%; /*ancho del footer*/
   background-color: #111;
   color: white;
   padding: 1.2rem;
   float: left;
}
.oculto{
  display: none;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: auto;
  padding-bottom:auto;
}

.contact-us{
  width: 50%; /* ajustar el ancho según el espacio restante */
  color: #fff;
  display: flex;
  align-items: center; /* alinear verticalmente */
}

.social-media{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icon{
  display: inline-block;
  margin-left: 17px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius:51%;
  text-align: center;
  color:#fff;
}

.social-media-icon:hover{
  background:#e51a4c;
  color: #000; 
}

.social-media-icon i{
  font-size: 28px;
  line-height: 40px;
}

html {
  background: #000 !important;
}