body {
    padding: 100px;
    background-color: black !important;
    margin: 0 auto;; 
  }
  

  .parent {
    position: relative;
    margin: 3.6rem auto;
  }
  
  .circle {
    width: 200px;
    
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .image-holder {   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*animation: rotate linear 5s infinite forwards;*/
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    cursor: pointer;
    margin: 0 auto;
    width: 200px;
  }
  
  .image-holder:hover {
    animation-play-state: paused;
  }
  
  .image-holder img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .image-holder img:nth-child(1) {
    top: -15px;
    left: -15px;
  }
  
  .image-holder img:nth-child(3) {
    top: -15px;
    right: -15px;
  }
  
  .image-holder img:nth-child(5) {
    bottom: -15px;
    right: -15px;
  }
  
  .image-holder img:nth-child(7) {
    bottom: -15px;
    left: -15px;
  }
  
  .image-holder img:nth-child(2) {
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .image-holder img:nth-child(4) {
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
  }
  
  .image-holder img:nth-child(6) {
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .image-holder img:nth-child(8) {
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .container{
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

.imagen-central {
    width:20rem;
    height:20rem;
    position:relative;
    top:1.5rem;
    /*left: 250%;*/
    border-radius: 50%;
    z-index: -1;
    margin: 0 auto;
  
  } 

  .menu{
    justify-content: center;
    text-align: center;    
    width: 100%;
    height: 1rem;
    padding: 0 0; /*0 20px*/
    margin:0 auto; /*0 10px*/
    /*padding-left:0;*/ 
    padding-top:0.3rem;/*Menu  ver la altura*/
    padding-bottom:2.2rem;
     position:relative;
    
  }
  
  .menu li{
    text-decoration: none;
    display: inline;
    list-style-type: none;
    margin:0.9rem;
    
    font-family: 'Glagolitsa';
  }

  
/*Tienen que tener este orden particular*/
a{
  color: white !important;
  text-decoration: none;
}
a:link {
	color: white;
  text-decoration: none;
}

a:visited{
	color: white;
}

a:hover{/*hay otro css un scss que interrumpe por eso le puse importante para que pesque estas reglas por sobre las otras*/
	transition: color 0.3s ease  !important;
	color:#e51a4c  !important;
  text-decoration: none  !important;
}

a:active{
	color: white;
}


section{
	background-color: #000;
	margin-bottom:0px; /* establece un margen inferior de 3rem */
}


@font-face {
  font-family: 'Glagolitsa';
  src: url('Glagolitsa.ttf') format('truetype');
}

